<section id="uned-poll" class="uned-poll <%= request.path == "/" ? nil : 'is-hidden' %>">
  <section class="uned-poll-content">
    <button id="uned-poll-close-button">
      <img class="uned-poll-close-button-img" src="<%= asset_path 'close.svg' %>">
    </button>
    <article class="uned-poll-content-header">
      <img class="uned-poll-content-header-img" src="<%= asset_path 'uned-header-image.png' %>">
      <img class="uned-poll-content-header-logoimg" src="<%= asset_path 'logo-uned.png' %>">
    </article>

    <article class="uned-poll-content-medium">
      <h3 class="uned-poll-content-title">Consulta</h3>

      <!-- T1 Portada -->
      <!-- 2.1.1 -->
      <h5 class="uned-poll-content-subtitle ">Hacia un marco ético para el uso responsable de datos masivos</h5>
            <p class="uned-poll-content-text">
              La UNED, como parte de su respuesta pionera al reto tecnológico actual, se plantea el objetivo de utilizar los datos masivos para apoyar los procesos de enseñanza y aprendizaje a fin de ajustarlos a cada persona y hacerlos más útiles, amables y efectivos. Esto se ha hecho antes.
            </p>
            <p class="uned-poll-content-text">
              Sin embargo, como institución que quiere ser responsable y transparente con las consecuencias éticas y sociales que puede conllevar el uso de las tecnologías basadas en datos masivos, nos proponemos, por primera vez, definir de forma colectiva un marco ético que garantice un uso responsable de las mismas.
            </p>
            <p class="uned-poll-content-text">
              Para el diseño de este marco ético, queremos contar con la participación de toda la comunidad universitaria: tu opinión es esencial.
            </p>
            <p class="uned-poll-content-text">
              ¡Participa! Son menos de cinco minutos.
            </p>

      <!-- ./ 2.1.2 -->

      <!-- ./ 2.1.2 -->
      <!-- ./ T1 Portada -->

      <div class="uned-poll-content-table">
        <div class="uned-poll-content-table-row">
          <div class="uned-poll-content-table-row-left">
            <span class="uned-poll-content-table-row-left-subtitle">Fechas</span>
          </div>
          <div class="uned-poll-content-table-row-right">
            <span class="uned-poll-content-table-row-left-text">Del <strong>13 de enero de 2020</strong> al <strong>26 de enero de 2020</strong>.</span>
          </div>
        </div>
        <div class="uned-poll-content-table-row">
          <div class="uned-poll-content-table-row-left">
            <span class="uned-poll-content-table-row-left-subtitle">Quién puede participar</span>
          </div>
          <div class="uned-poll-content-table-row-right">
            <span class="uned-poll-content-table-row-left-text">Toda la comunidad de la UNED: alumnos actuales, profesores y personal.</span>
          </div>
        </div>
      </div>
      <!-- 2.1.2 -->
      <a class="uned-poll-accordion-child uned-poll-content-subtitle-accordion">El proyecto ED3: Educación a Distancia, Digital y apoyada en Datos</a>
      <div class="uned-poll-slider-content-accordion">
        <p class="uned-poll-content-text">
          ¿Te imaginas que la UNED acompaña tu proceso de aprendizaje adaptándolo de forma automática a tus ritmos, a tus necesidades, a tus intereses?
        </p>
        <p class="uned-poll-content-text">
          Esta personalización puede hacerse a través del uso de tecnologías basadas en datos masivos, y ese es el objetivo del Proyecto ED3 de la UNED. En otras palabras: el Proyecto ED3 aspira a desarrollar un marco de intervenciones basadas en evidencias para mejorar los procesos de enseñanza y aprendizaje a través de la explotación inteligente y responsable de datos.
        </p>
        <p class="uned-poll-content-text">
          Pero para garantizar que estas tecnologías se usan de forma realmente responsable, queremos dotarnos de un marco ético elaborado de forma colectiva.
        </p>
      </div>
    </article>

    <p class="uned-poll-contet-arrow-left-text">Te invitamos a que repases los materiales que hemos preparado para dar contexto a esta consulta.
      <img class="uned-poll-img-arrow-left" src="<%= asset_path 'arrow-left.svg' %>"></p>

    <p class="uned-poll-contet-arrow-right-text">Si prefieres lanzarte a participar, puedes hacerlo.
      <img class="uned-poll-img-arrow-right" src="<%= asset_path 'arrow-right.svg' %>">
    </p>

    <article class="uned-poll-content-footer">
      <div class="uned-poll-content-buttons-top">
        <button id="uned-poll-button-top-1" class="uned-poll-buttons-top-slider is-active-btn">¿Qué son las TBDM?</button>
        <button id="uned-poll-button-top-2" class="uned-poll-buttons-top-slider">Antecedentes</button>
        <button id="uned-poll-button-top-3" class="uned-poll-buttons-top-slider">¿Hace falta un marco ético?</button>
        <button id="uned-poll-button-top-4" class="uned-poll-buttons-top-slider">Participa</button>
      </div>

      <div class="uned-poll-slider-container-content">
        <!-- T2: Qué son las TBDM -->
        <div id="uned-poll-slider-content-text-1" class="uned-poll-slider-content">
          <!-- 2.2 [T2] Referentes y aproximaciones previas -->
          <h1 class="uned-poll-slider-content-title">¿QUÉ SON Y PARA QUÉ PUEDEN SERVIR EN LA UNED LAS TECNOLOGÍAS BASADAS EN DATOS MASIVOS?</h1>
          <p class="uned-poll-slider-content-text">Nuestras comunicaciones, nuestro entretenimiento, nuestras relaciones comerciales y nuestros aprendizajes suceden en la Web. Así, las compañías hacen uso de nuestros datos para afectarnos: nos recomiendan una película o un libro, nos sirven anuncios personalizados, nos ayudan a acordarnos de fechas importantes. Esta filosofía es de aplicación también en la enseñanza y el aprendizaje, y su fin es avanzar hacia escenarios de aprendizaje personalizado.</p>
          <p class="uned-poll-slider-content-text">Algunos ejemplos: es posible modelar de forma automática el conocimiento, el comportamiento o la experiencia del alumnado, es posible segmentarlo en perfiles que permitan adaptar los entornos de aprendizaje, es posible modelar los contenidos para extraer de forma automática las unidades de estudio o los conceptos clave, y su dificultad, así como es posible diseñar procesos de aprendizaje más efectivos a partir de los datos para responder a cuestiones como: ¿qué elementos son más efectivos para promover el aprendizaje?, ¿un cambio concreto en los contenidos o las metodologías puede mejorar el desempeño y la retención?, ¿qué tipo de metodologías son mejores en términos de la experiencia del alumnado?</p>
          <!-- ./ 2.2 [T2] Referentes y aproximaciones previas -->
        </div>
        <!-- ./ T2: Qué son las TBDM -->

        <!-- Antecedentes -->
        <div id="uned-poll-slider-content-text-2" class="uned-poll-slider-content is-hidden">
          <h1 class="uned-poll-slider-content-title">Referentes y aproximaciones previas</h1>

          <p class="uned-poll-slider-content-text">Experiencias previas: las que no</p>
          <p class="uned-poll-slider-content-text-list">El caso <a href="https://bits.blogs.nytimes.com/2014/04/21/inbloom-student-data-repository-to-close/">InBloom (2013, EEUUA)</a>: organización no gubernamental que atrajo inversiones millonarias (fundaciones Gates, Carnegie). Alarmó a defensores de la privacidad y a asociaciones de familiares del alumnado. Fue cancelado fulminantemente en 2014.</p>
          <p class="uned-poll-slider-content-text-list">El caso <a href="https://es.snappet.org/">Stichting Snappet (2014, Holanda)</a>: más de 400 escuelas públicas alquilaron tabletas con apps para aprender matemáticas y lengua. Los datos se usaban para clasificar y predecir el desempeño del alumnado, y para proponer intervenciones a los centros, lo cual llevó a las autoridades holandesas a abrir un expediente. En el informe final, se indicó que la empresa no había informado su cientemente y no había pedido consentimiento para el uso de los datos.</p>

          <p class="uned-poll-slider-content-text">Experiencias previas: las que si</p>
          <p class="uned-poll-slider-content-text-list"><a href="https://help.open.ac.uk/documents/policies/ethical-use-of-student-data">Reglamento de la Open University (Reino Unido) (2014)</a>: ocho  principios  (el uso de datos como práctica ética, responsabilidad, parcialidad de los datos, propósito y límites, transparencia, participación, solidez y control de sesgos).</p>
          <p class="uned-poll-slider-content-text-list"><a href="https://www.jisc.ac.uk/guides/code-of-practice-for-learning-analytics">Reglamento del Jisc</a>: <i>Code of practice for Learning Analytics (2014)</i>: responsabilidad, transparencia y consentimiento, privacidad, validez, acceso, intervenciones, evitación de impactos adversos, administración de los datos.</p>
          <p class="uned-poll-slider-content-text-list"><a href="https://www.icde.org/knowledge-hub/the-aim-of-the-guidelines-is-to-identify-which-core-principles-relating-to-ethics-are-core-to-all-and-where-there-is-legitimate-differentiation-due-to-separate-legal-or-more-broadly-cultural-environments">Directrices del Consejo Internacional para la Educación Abierta y a Distancia</a>: propiedad y control de los datos, transparencia, accesibilidad, validez y  fiabilidad, responsabilidad institucional, comunicación, valores culturales, inclusión, consentimiento, responsabilidad y agencia del alumnado.</p>

          <p class="uned-poll-slider-content-text">Otros proyectos relacionados: <a href="https://sheilaproject.eu/">SHEILA</a>, <a href="http://www.laceproject.eu/blog/ethics-privacy-in-learning-analytics-a-delicate-issue/">LACE</a>, <a href="http://leas-box.cognitive-science.at/">LEA's BOX</a>...</p>
        </div>
        <!-- ./ Antecedentes -->

        <!-- 2.3 [T3] Por qué hace falta un marco ético? -->
        <div id="uned-poll-slider-content-text-3" class="uned-poll-slider-content is-hidden">
          <h1 class="uned-poll-slider-content-title">¿HACE FALTA UN MARCO ÉTICO?</h1>
          <p class="uned-poll-slider-content-text">Sabemos que una cosa es cumplir la ley y otra  muy distinta  ser buenas personas. La UNED, como institución, está decidida a apostar por ambas.</p>
          <p class="uned-poll-slider-content-text">Pese a que las leyes actuales (LOPD y RGPD) están concebidas para proteger la privacidad, la UNED no quiere permanecer ajena a que, en ocasiones, se dan usos preocupantes de nuestros datos amparados por la ley: mecanismos automáticos de selección de personal aquejados de sesgos racistas, algoritmos de predicción de reincidencia en delitos que no respetan la presunción de inocencia, algoritmos de selección de aspirantes a asilo que deciden a partir de el acento de las personas...</p>

          <!-- 2.3.1 [T31] ¿Qué preguntas hay que hacerse antes de usar datos masivos? -->
          <a class="uned-poll-accordion-parent">¿Qué preguntas hay que hacerse antes de usar datos masivos?</a>
            <div class="uned-poll-slider-content-accordion">
            <a class="uned-poll-slider-content-accordion-title uned-poll-accordion-child">¿Quién puede beneficiarse?</a>
            <div class="uned-poll-slider-content-accordion">
              <p>Más allá de categorías genéricas como “la comunidad universitaria”, es esencial considerar qué agentes concretos pueden verse beneficiados en cada caso, y en qué condiciones. En algunas ocasiones el beneficio de una de las partes puede ser incompatible con el de otras. Porsupuesto, en tales casos, atendiendo a la ética de los cuidados considerada más arriba, se debe priorizar a las partes a priori más débiles. Además, es importante tener en cuenta lasconsecuencias que sobre aquellas personas que no se podrán beneficiar de estas tecnologías(alumnado en reclusión forzosa, con diversidad funcional o quienes no deseen que sus datossean usados, por ejemplo) puede tener su generalización.</p>
            </div>
            <a class="uned-poll-slider-content-accordion-title uned-poll-accordion-child">¿A quién puede poner en riesgo?</a>
            <div class="uned-poll-slider-content-accordion"><p>Además de considerar los beneficiarios, es importante identificar aquellos colectivos que pueden ser puestos en riesgo para poder calibrar los pros y los contras de cualquier intervención. Como es obvio, el riesgo será mayor para los colectivos más expuestos, que en elcaso de la UNED son el alumnado y, en menor medida, los equipos docentes y tutoriales.</p>
            <p>Para el primer colectivo, hay encuestas que indican que las tecnologías basadas en datos masivos suelen ser bien aceptadas, pero también que existen casos en que los efectos pueden ser perniciosos: por ejemplo, los mensajes reiterativos pueden inducir desmotivación en ciertas personas o las predicciones de abandono funcionar como profecías autocumplidas. Además, allí donde se usen datos demográficos y de formación previa, existe un potencial para la propagación de estereotipos, sesgos y discriminaciones basadas en características grupales.</p>
            <p>En cuanto a los equipos docentes y tutoriales, si las preguntas que guían el uso de las tecnologías basadas en datos masivos son fijadas por la administración educativa, sin aportes de dichos equipos, es fácil que se incremente el control gerencial sobre la enseñanza, con el foco centrado en la rendición de cuentas. En este sentido, el compromiso y la participación delprofesorado es crucial para asegurar la implementación exitosa de cualquier aplicación.</p></div>
            <a class="uned-poll-slider-content-accordion-title uned-poll-accordion-child">¿Quién toma las decisiones?</a>
            <div class="uned-poll-slider-content-accordion"><p>Dada la preocupación por el uso inadecuado de los datos, es necesario identificar en cada caso dónde reside la responsabilidad de fijar las preguntas que han de ser respondidas mediante el análisis de los datos, pero también qué datos se recolectan, analizan y visualizan, y quién tendrá acceso a qué información. Experiencias previas recomiendan que la comunidad afectada (el alumnado y los equipos docentes y tutoriales, por ejemplo) sean parte del proceso decisorio, es decir, que  no existan  procesos meramente informativos sino que sean vinculantes: que estén preparados para virar el rumbo si así lo decide la comunidad. Además, deberían establecerse  procedimientos formalizados que vayan más allá de recoger información mediante encuestas o participación en foros, por ejemplo utilizando metodologías de previsión de impacto o ingeniería de requisitos basada en la comunidad [<a href="https://www.aepd.es/media/guias/guia-evaluaciones-de-impacto-rgpd.pdf">Guía práctica para las evaluaciones de impacto en la protección de los datos sujetas al RGPD</a>].</p></div>
            <a class="uned-poll-slider-content-accordion-title uned-poll-accordion-child">¿Qué datos se ponen en juego?</a>
            <div class="uned-poll-slider-content-accordion"><p>Con la digitalización de cada vez más ámbitos de la vida cotidiana, incluyendo los procesos de enseñanza/aprendizaje, el volumen y la variedad de datos que pueden ser puestos en juego es cada vez mayor. Al mismo tiempo, las posibilidades de cometer errores y propagar sesgos se incrementan cuando los datos son parciales, no existentes o cuando se cruzan datos entre bases de datos diferentes. Las inexactitudes, sesgos e imprecisiones derivadas del proceso de tratamiento de los datos pueden tener consecuencias graves, por lo que se recomienda el acceso al mayor número de datos posibles. También es extremadamente delicado el uso potencial de fuentes de datos externas a la institución como las redes sociales, en las que se dan procesos de desvelamiento de identidad potencialmente incontrolados, que además descansan sobre políticas de compañías no necesariamente alineadas con los principios de la institución.</p></div>
            <a class="uned-poll-slider-content-accordion-title uned-poll-accordion-child">¿Quién necesita ser informado y qué necesita saber?</a>
            <div class="uned-poll-slider-content-accordion"><p>En el caso concreto de los procesos de enseñanza/aprendizaje, analógicos o digitales, es claro que dependen en todo caso de cierto nivel de cesión de información entre las partes. Esto es así también en otros ámbitos de digitalización. Sin embargo, el desarrollo de tecnologías basadas en datos masivos exige preguntarse hasta qué punto las instituciones tienen la obligación de informar a la comunidad del uso que se hace de sus datos y de que su comportamiento puede estar siendo hasta cierto punto monitorizado. Por ejemplo, ¿es necesario informar al alumnado de que se almacenan datos anónimos para calcular promedios de tiempo empleado en acabar una titulación? ¿Y si por el contrario se almacenan los datos depersonas concretas para el mismo fin?</p></div>
            <a class="uned-poll-slider-content-accordion-title uned-poll-accordion-child">¿Es necesario el consentimiento expreso para el uso de datos? ¿Cómo se otorga?</a>
            <div class="uned-poll-slider-content-accordion"><p>Más allá de informar de que hay datos que están siendo registrados, existe un debate abierto acerca de si el consentimiento expreso es necesario o no, y en caso de que sí, con qué frecuencia y en qué circunstancias. Algunos enfoques propuestos incluyen: aceptación de inclusión al inicio de la relación con posibilidad de decidir la autoexclusión más adelante; posibilidad de autoexclusión al inicio de la relación con posibilidad de inclusión más adelante; aceptación de inclusión al inicio de la relación y nueva aceptación de inclusión cada vez que haya cambios; aceptación de inclusión o posibilidad de exclusión cada vez que se desencadene una intervención basada en datos. La lista no es exhaustiva y cada enfoque tiene suspropias limitaciones.</p></div>
            <a class="uned-poll-slider-content-accordion-title uned-poll-accordion-child">¿Hasta qué punto son necesarias disposiciones de privacidad?</a>
            <div class="uned-poll-slider-content-accordion"><p>La privacidad, en el contexto actual, se ha convertido en un concepto polémico y resbaladizo. En este contexto, surgen preguntas acerca de qué datos se recopilan, quién puede ver información acerca de personas concretas (por ejemplo, ¿puede el profesorado ver información sobre el alumnado de cursos en los que no está involucrado?, pero también, ¿pueden otras instituciones?, ¿y futuros empleadores?) y cuánto tiempo es imprescindible mantener los datos accesibles, sabiendo que el uso de datos históricos de cursos pasados puede beneficiar al alumnado actual.</p></div>
            <a class="uned-poll-slider-content-accordion-title uned-poll-accordion-child">¿Es necesario desidentificar los datos? ¿Es esto suficiente para garantizar el anonimato?</a>
            <div class="uned-poll-slider-content-accordion"><p>Cuando el identificador personal es sustituido por un código arbitrario, decimos que los datos han sido desidentificados, y se espera que sea imposible reconocer a un individuo concreto a partir de los registros guardados. Sin embargo, cuando se juntan fuentes de datos diversas y detalladas (‘big data’), esta precaución no siempre es suficiente, lo cual ha provocado, en algunos casos célebres, consecuencias inesperadas (por ejemplo, es posible identificar a una persona en una base de datos anonimizada mediante información de redessociales). Estas consecuencias pueden ser evitadas con procesos de anonimización más robustos, pero, sin embargo, no siempre es posible (ni deseable) anonimizar datos durante el desarrollo de la relación entre la institución y los miembros de su comunidad, lo que supone, por ejemplo, que en ámbitos educativos los procesos de anonimización han de tener lugar una vez que el alumnado abandona la institución (o cuando fije la normativa).</p></div>
            <a class="uned-poll-slider-content-accordion-title uned-poll-accordion-child">¿Quién es responsable de la administración y la protección de los datos?</a>
            <div class="uned-poll-slider-content-accordion"><p>Es importante (y en algunos casos obligatorio) que la institución defina quién tiene la responsabilidad de la preservación, seguridad y compartición de los datos, incluyendo responsables concretos para la recolección, los procesos de anonimización, los análisis y la administración de los datos, al menos.</p></div>
            <a class="uned-poll-slider-content-accordion-title uned-poll-accordion-child">¿Quién posee los datos y cuáles son las implicaciones?</a>
            <div class="uned-poll-slider-content-accordion"><p>Determinar los derechos de propiedad intelectual de los datos y los resultados obtenidos apartir de ellos es un asunto de gran complejidad y repercusiones: ¿pertenecen a cada individuo, a la institución, a la compañía que provee la infraestructura? ¿Pueden usarse en investigación? ¿Cómo afecta esto a la posibilidad de reutilización de datos fuera de la UNED, si tal cosa llega a ser planteada?</p></div>
            <a class="uned-poll-slider-content-accordion-title uned-poll-accordion-child">¿Tiene la UNED alguna obligación de actuar?</a>
            <div class="uned-poll-slider-content-accordion"><p>Si se demuestra que las tecnologías basadas en datos masivos conllevan beneficios, como por ejemplo incrementar el éxito del alumnado, ¿tiene la institución la obligación de intervenir para sacar partido de esta oportunidad? Esta obligación, ¿qué relación guarda con el coste económico que dicha intervención pueda tener? Es decir, ¿es admisible que la UNED no actúe a sabiendas de que el alumnado puede beneficiarse, por ejemplo?</p></div>
            <a class="uned-poll-slider-content-accordion-title uned-poll-accordion-child">¿Cómo puede ser reconocida y respetada la voluntad de los miembros de la comunidad universitaria?</a>
            <div class="uned-poll-slider-content-accordion"><p>Si las tecnologías basadas en datos masivos sugieren alguna acción concreta, es necesario definir si las personas afectadas están o no obligadas a aceptarla, y cuáles son las consecuencias de una u otra elección. Existe un cierto riesgo de infantilización a través de la coerción y las invasiones de la privacidad.</p></div>
            <a class="uned-poll-slider-content-accordion-title uned-poll-accordion-child">Si algo sale mal, ¿qué posibilidades de reparación existen?</a>
            <div class="uned-poll-slider-content-accordion"><p>Reconociendo que las tecnologías basadas en datos masivos pueden tener consecuencias imprevistas, es necesario preguntarse acerca de las capacidades de reparación de las que la institución quiere dotarse. Dar la posibilidad de que cualquiera pueda formular objeciones o quejas por un canal institucional claro es un paso esencial para abordar repercusiones inesperadas.</p></div>
            <a class="uned-poll-slider-content-accordion-title uned-poll-accordion-child">¿No está todo esto cubierto por la normativa vigente?</a>
            <div class="uned-poll-slider-content-accordion"><p>Pese a que la reforma europea de 2016 de las <a href="http://data.europa.eu/eli/reg/2016/679/oj/spa" target="_blank">reglas de protección de datos</a> [ha supuesto un gran avance en la protección del control individual sobre los datos personales y en la especificación de reglas para instituciones y empresas, no faltan voces críticas que alertan de sus limitaciones en la <a href="https://www.abc.es/tecnologia/redes/abci-rgpd-mejor-y-peor-nueva-normativa-privacidad-segun-expertos-201805242219_noticia.html" target="_blank">protección de la privacidad</a>. Además, son notorios los casos de empresas que, cumpliendo escrupulosamente con la legalidad, han incurrido en prácticas más que cuestionables. Mediante esta consulta, la UNED pretende ir más allá y establecer un marco ético que, dentro del más escrupuloso respeto por la normativa vigente, proporcione mayor seguridad y tranquilidad a los miembros de su comunidad.</p></div></div>
          <!-- ./ 2.3.1 [T31] -->

          <!-- 2.3.2 [T32] Hacia una ética del cuidado -->
          <a class="uned-poll-accordion-parent">Hacia una ética del cuidado</a>
          <div class="uned-poll-slider-content-accordion">
          <p class="uned-poll-slider-content-text"><b>datum vs. captum</b>: Dato proviene del latín datum, aquello que es dado. Sin embargo, puesto que en el contexto tecnológico actual la mayor parte de los datos son tomados antes que dados, quizá sería más lógico hablar de captum: aquello que es apresado o capturado.</p>
          <a class="uned-poll-slider-content-accordion-title uned-poll-accordion-child">Una ética del cuidado se orienta a:</a>
          <div class="uned-poll-slider-content-accordion">
            <p>Tener cuidado con nuestras presunciones acerca de las evidencias que aportan los datos, así como las que hacemos acerca de la naturaleza y el uso de estos, acerca de su gobernanza, de la privacidad y del acceso a los mismos, y a cuidar del alumnado y recopilar, analizar y utilizar sus datos para mejorar sus tasas de éxito y de retención.</p>
          </div>
          </div>

          <!-- ./ 2.3.2 [T32] -->

          <!-- 2.3.3 [T33] Vídeo: Datos masivos y ética: ¿es suficiente la legislación actual? -->
          <a class="uned-poll-accordion-parent">Conferencia invitada: Datos masivos y ética: ¿es suficiente la legislación actual?</a>
          <div class="uned-poll-slider-content-accordion">
            <p>En esta conferencia, que tuvo lugar el 3 de diciembre de 2019 en el Programa de Doctorado en Sistemas Inteligentes, la investigadora Manuela Battaglini explora las limitaciones de la legislación actual y pone de relieve los riesgos que tales limitaciones suponen para el uso ético de los datos masivos.</p>
          <a class="uned-poll-slider-content-accordion-title uned-poll-accordion-child">Vídeo</a>
          <div class="uned-poll-slider-content-accordion">

            <iframe src="https://canal.uned.es/iframe/magic/c55zi7ftmxkc88oc8ccco4gc4ckco8c"
                    id="pumukitiframe" frameborder="0" border="0" width="840" height="473" allowfullscreen>
            </iframe>
          </div>
          </div>

          <!-- ./ 2.3.3 [T33] -->
        </div>
        <!-- ./ 2.3 [T3] -->

        <div id="uned-poll-slider-content-text-4" class="uned-poll-slider-content is-hidden">
          <h1 class="uned-poll-slider-content-title">Cautelas necesarias para un uso responsable de tecnologías basadas en datos masivos</h1>
          <p class="uned-poll-slider-content-text">Para establecer un marco ético sólido que obligue a la UNED a tener cuidado con los datos al tiempo que cuida de todos los miembros de la comunidad universitaria, se proponen nueve cautelas esenciales para un uso responsable de datos masivos.</p>
          <!-- TODO: enlace al vicerrectorado -->
          <p class="uned-poll-slider-content-text">Estas cautelas han sido definidas en el <a href="https://participa.uned.es/uploads/decidim/attachment/file/183/ConsideracionesEticas_v1.9.pdf">documento base</a>, que ha sido trabajado en el <a href="">Vicerrectorado de Digitalización e Innovación</a> con la colaboración de otras personas de dentro y fuera de la UNED.</p>
          <p class="uned-poll-slider-content-text">A continuación, se muestran, una a una, estas nueve cautelas y se invita a la participación de la comunidad universitaria. Para cada cautela, se brinda la posibilidad de valorarla en una escala de importancia y en otra de viabilidad, así como de debatir su pertinencia o proponer modificaciones concretas.</p>

          <div class="uned-poll-slider-participa">
            <% care_proposals.each_with_index do |proposal, idx| %>
              <% position = idx + 1 %>

              <div id="uned-poll-participa-content-<%= position %>"
                  class="uned-poll-slider-participa-content <%= position == 1 ? nil : 'is-hidden' %>">

                <h3 class="uned-poll-slider-participa-title"><%= proposal[:title] %></h3>
                <h3 class="uned-poll-slider-participa-subtitle"><%= proposal[:subtitle] %></h3>

                <div class="uned-poll-slider-participa-left">
                  <p class="uned-poll-slider-participa-left-text"><%= proposal[:description] %></p>
                </div>

                <% if proposal[:proposal] %>
                  <div class="uned-poll-slider-participa-right">
                    <%= render partial: "care_proposals/vote_button", locals: { proposal: proposal[:proposal] } %>
                    <%= link_to "DEBATIR", decidim_proposals.proposal_path(proposal[:proposal]), class: "uned-poll-slider-participa-button-right" %>
                    <button class="uned-poll-slider-participa-button-comments"><%= proposal[:proposal].comments.count %> comentarios</button>
                  </div>
                <% end %>
              </div>
            <% end %>

            <div id="uned-poll-participa-content-<%= care_proposals.size + 1 %>"
                 class="uned-poll-slider-participa-content is-hidden uned-poll-slider-participa-content-thanks">

              <h3 class="uned-poll-slider-participa-title">Gracias por participar</h3>

              <div class="uned-poll-slider-participa-left">
                <p class="uned-poll-slider-participa-left-text">Si, tras la lectura de estas nueve cautelas, consideras que existen otras que se deberían incluir, te invitamos a crearlas en la <a href="/processes/uso-responsable-de-datos/f/98/proposals/new">plataforma</a>.
                </p>
                <p class="uned-poll-slider-participa-left-text">Durante las próximas semanas, recogeremos y analizaremos las contribuciones que se hagan. Publicaremos más información cuando concluya la consulta.</p>
              </div>
              <a href="/processes/uso-responsable-de-datos/f/99/" class="uned-poll-button-thanks">
                <span class="uned-poll-buttons-bottom-text-bottom">DEBATIR</span>
              </a>
              <a href="/processes/uso-responsable-de-datos/f/98/proposals?utf8=%E2%9C%93&filter%5Bsearch_text%5D=&filter%5Borigin%5D=&filter%5Borigin%5D=citizens&filter%5Bstate%5D=&filter%5Bstate%5D=except_rejected&filter%5Bactivity%5D%5B%5D=&order=random
Design" class="uned-poll-button-thanks">
                <span class="uned-poll-buttons-bottom-text-bottom">CAUTELAS PROPUESTAS POR OTROS USUARIOS</span>
              </a>
            </div>

            <div id="uned-poll-container-participa-buttons" class="uned-poll-slider-participa-buttons">
              <% (care_proposals.size + 1).times do |i| %>
                <% position = i + 1 %>

                <button id="uned-poll-buttons-slider-participa-<%= position %>"
                        class="uned-poll-slider-participa-button-container <%= position > 2 ? 'is-hidden' : nil %> <%= position == 1 ? 'first-button' : nil %>">

                    <% if position > 1 %>
                      <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-next">SIGUIENTE</span>
                    <% end %>

                    <% if position < care_proposals.size  + 1 %>
                      <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-prev <%= position == 1 ? 'is-hidden' : nil %>">ANTERIOR</span>
                      <img src="<%= asset_path 'arrow-left-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-left <%= position == 1 ? 'is-hidden' : nil %>">
                    <% end %>

                    <% if position > 1 && position < 10  %>
                      <img src="<%= asset_path 'arrow-right-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-right">
                    <% end %>

                  <span class="uned-poll-buttons-bottom-text-bottom">
                    <% if i < care_proposals.size %>
                      CAUTELA <%= i %>
                    <% else %>
                      TERMINAR
                    <% end %>
                  </span>
                </button>
              <% end %>
            </div>
          </div>
        </div>

        <%= render "care_proposals/navigation" %>
      </div>
    </article>
  </section>
</section>
