<div class="uned-poll-slider-participa-buttons">
  <button id="uned-poll-buttons-slider-participa-1" class="uned-poll-slider-participa-button-container">
    <%= render "care_proposals/previous_button" %>
    <%= render "care_proposals/left_arrow" %>
    <span class="uned-poll-buttons-bottom-text-bottom">PARTICIPA 1</span>
  </button>

  <button id="uned-poll-buttons-slider-participa-2" class="uned-poll-slider-participa-button-container">
    <%= render "care_proposals/next_button" %>
    <%= render "care_proposals/previous_button" %>
    <%= render "care_proposals/left_arrow" %>
    <%= render "care_proposals/right_arrow" %>
    <span class="uned-poll-buttons-bottom-text-bottom">PARTICIPA 2</span>
  </button>

  <% (3..8).to_a.each do |i| %>
    <button id="uned-poll-buttons-slider-participa-<%= i %>" class="uned-poll-slider-participa-button-container is-disable">
      <%= render "care_proposals/next_button" %>
      <%= render "care_proposals/previous_button" %>
      <%= render "care_proposals/left_arrow" %>
      <%= render "care_proposals/right_arrow" %>
      <span class="uned-poll-buttons-bottom-text-bottom">PARTICIPA <%= i %></span>
    </button>
  <% end %>
</div>
