<div class="uned-poll-slider-participa-buttons">
  <button id="uned-poll-buttons-slider-participa-1" class="uned-poll-slider-participa-button-container">
    <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-prev">ANTERIOR</span>
    <img src="<%= asset_path 'arrow-left-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-left">
    <span class="uned-poll-buttons-bottom-text-bottom">PARTICIPA 1</span>
  </button>
  <button id="uned-poll-buttons-slider-participa-2" class="uned-poll-slider-participa-button-container">
    <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-next">SIGUIENTE</span>
    <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-prev">ANTERIOR</span>
    <img src="<%= asset_path 'arrow-left-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-left">
    <img src="<%= asset_path 'arrow-right-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-right">
    <span class="uned-poll-buttons-bottom-text-bottom">PARTICIPA 2</span>
  </button>
  <button id="uned-poll-buttons-slider-participa-3" class="uned-poll-slider-participa-button-container is-disable">
    <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-next">SIGUIENTE</span>
    <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-prev">ANTERIOR</span>
    <img src="<%= asset_path 'arrow-left-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-left">
    <img src="<%= asset_path 'arrow-right-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-right">
    <span class="uned-poll-buttons-bottom-text-bottom">PARTICIPA 3</span>
  </button>
  <button id="uned-poll-buttons-slider-participa-4" class="uned-poll-slider-participa-button-container is-disable">
    <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-next">SIGUIENTE</span>
    <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-prev">ANTERIOR</span>
    <img src="<%= asset_path 'arrow-left-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-left">
    <img src="<%= asset_path 'arrow-right-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-right">
    <span class="uned-poll-buttons-bottom-text-bottom">PARTICIPA 4</span>
  </button>
  <button id="uned-poll-buttons-slider-participa-5" class="uned-poll-slider-participa-button-container is-disable">
    <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-next">SIGUIENTE</span>
    <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-prev">ANTERIOR</span>
    <img src="<%= asset_path 'arrow-left-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-left">
    <img src="<%= asset_path 'arrow-right-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-right">
    <span class="uned-poll-buttons-bottom-text-bottom">PARTICIPA 5</span>
  </button>
  <button id="uned-poll-buttons-slider-participa-6" class="uned-poll-slider-participa-button-container is-disable">
    <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-next">SIGUIENTE</span>
    <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-prev">ANTERIOR</span>
    <img src="<%= asset_path 'arrow-left-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-left">
    <img src="<%= asset_path 'arrow-right-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-right">
    <span class="uned-poll-buttons-bottom-text-bottom">PARTICIPA 6</span>
  </button>
  <button id="uned-poll-buttons-slider-participa-7" class="uned-poll-slider-participa-button-container is-disable">
    <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-next">SIGUIENTE</span>
    <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-prev">ANTERIOR</span>
    <img src="<%= asset_path 'arrow-left-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-left">
    <img src="<%= asset_path 'arrow-right-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-right">
    <span class="uned-poll-buttons-bottom-text-bottom">PARTICIPA 7</span>
  </button>
  <button id="uned-poll-buttons-slider-participa-8" class="uned-poll-slider-participa-button-container is-disable">
    <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-next">SIGUIENTE</span>
    <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-prev">ANTERIOR</span>
    <img src="<%= asset_path 'arrow-left-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-left">
    <img src="<%= asset_path 'arrow-right-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-right">
    <span class="uned-poll-buttons-bottom-text-bottom">PARTICIPA 8</span>
  </button>
</div>
