<% Decidim::UnedEngine::QueryHelper.care_proposals(current_organization).each_with_index do |proposal, idx| %>
  <div id="uned-poll-participa-content-<%= idx + 1 %>"
       class="uned-poll-slider-participa-content <%= (idx + 1) == 1 ? nil : 'is-disable' %>">

    <h3 class="uned-poll-slider-participa-title"><%= proposal.custom_title %></h3>
    <h3 class="uned-poll-slider-participa-subtitle">Del cuidado</h3>

    <div class="uned-poll-slider-participa-left">
      <p class="uned-poll-slider-participa-left-text"><%= proposal.body %></p>
    </div>

    <div class="uned-poll-slider-participa-right">
      <button class="uned-poll-slider-participa-button-right">APOYAR</button>
      <button class="uned-poll-slider-participa-button-right is-disable">DEBATIR</button>
      <button class="uned-poll-slider-participa-button-comments"><%= proposal.comments.count %> comentarios</button>
    </div>
  </div>
<% end %>
