<div class="uned-poll-buttons-bottom">
  <button class="uned-poll-button-container" id="uned-poll-buttons-bottom-slider-1">
    <img src="<%= asset_path 'arrow-left-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-left">
    <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-prev">ANTERIOR</span>
    <span class="uned-poll-buttons-bottom-text-bottom">¿Qué son las TBDM?</span>
  </button>

  <button class="uned-poll-button-container" id="uned-poll-buttons-bottom-slider-2">
    <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-next">SIGUIENTE</span>
    <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-prev">ANTERIOR</span>
    <img src="<%= asset_path 'arrow-left-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-left">
    <img src="<%= asset_path 'arrow-right-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-right">
    <span class="uned-poll-buttons-bottom-text-bottom">CASOS PREVIOS</span>
  </button>

  <button class="uned-poll-button-container is-disable" id="uned-poll-buttons-bottom-slider-3">
    <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-next">SIGUIENTE</span>
    <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-prev">ANTERIOR</span>
    <img src="<%= asset_path 'arrow-left-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-left">
    <img src="<%= asset_path 'arrow-right-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-right">
    <span class="uned-poll-buttons-bottom-text-bottom">HACIA UN MARCO ÉTICO</span>
  </button>

  <button class="uned-poll-button-container is-disable" id="uned-poll-buttons-bottom-slider-4">
    <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-next">SIGUIENTE</span>
    <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-prev">ANTERIOR</span>
    <img src="<%= asset_path 'arrow-left-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-left">
    <img src="<%= asset_path 'arrow-right-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-right">
    <span class="uned-poll-buttons-bottom-text-bottom">CUESTIONES RELEVANTES</span>
  </button>

  <button class="uned-poll-button-container is-disable" id="uned-poll-buttons-bottom-slider-5">
    <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-next">SIGUIENTE</span>
    <img src="<%= asset_path 'arrow-right-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-right">
    <span class="uned-poll-buttons-bottom-text-bottom">PARTICIPA</span>
  </button>
</div>
